//stock-colors
$black: #32323c;
$white: #c0c0c0;
$app-red: rgb(238, 50, 50);
$grey: #e6e6e6;

//FULLSCREEN--PAGE-BG-USE-ONLY
@mixin fs {
    height: 100vh;
}

@mixin flex-col-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
